<main class="main mt-0">
  <% if current_user.banner.present? %>
    <div class="main__author" style="background: url(<%= url_for(current_user.banner) %>) center center / cover no-repeat;;"></div>
  <% else %>
    <div class="main__author" data-bg="/assets/dummy-image.jpg" style="background: url(/assets/dummy-image.jpg) center center / cover no-repeat;"></div>
  <% end %>
  <div class="container">
    <div class="row row--grid">
      <!-- author -->
      <div class="col-12 col-xl-3">
        <div class="author author--page">
          <div class="author__meta">
            <%= link_to_image(current_user) %>
            <%= link_to_name(current_user) %>
            <%= link_to_twitter(current_user) %>
            <%= link_to_bio(current_user) %>
            <%= link_to_personal_url(current_user) %>
            <%= link_to link_to_user(current_user), link_to_user(current_user), class: 'author__link' %>

            <div class="author__wrap">
              <div class="author__followers">
                <p><%= current_user.followers.count %></p>
                <span><%= t('collections.form.followers') %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end author -->

      <div class="col-12 col-xl-9">
        <!-- title -->
        <div class="main__title main__title--create">
          <h2><%= t('collections.form.create_collection_tittle', collection_type: @collection_type) %></h2>

        </div>
        <!-- end title -->

        <div class="row">
          <div class="col-lg-7 col-md-12">
            <!-- create form -->
            <%= form_tag collections_path, method: :post, multipart: true, remote: true, authenticity_token: true, id: "collectionCreateForm", :class => "sign__form sign__form--create" do %>
              <%= hidden_field_tag 'collection[collection_type]', @collection_type %>
              <%= hidden_field_tag 'collection[data]', nil, class: 'collection-data-val' %>
              <div class="row">
                <div class="col-12">
                  <h4 class="sign__title"><%= t('collections.form.upload_file') %> *</h4>
                </div>

                <!-- <div class="col-12">
                  <div class="sign__file">
                    <label  for="file-1">e. g. Image, Audio, Video</label>
                    <input data-name="#file1" id="file-1" name="collection[attachment]" class="sign__file-upload" type="file" accept="audio/mpeg,video/mp4,video/x-m4v,video/*,.png,.jpg,.jpeg">
                  </div>
                </div> -->

                <div class="row mb-15">
                  <div class="col-12">
                    <div class="codrops-header">
                      <div class="box">
                        <span class="placeholder" id="placeholder" style="">PNG, GIF, WEBP, MP4 or MP3. Max 30mb.</span>
                        <input accept="image/png,image/jpeg,image/gif,image/webp,video/mp4,video/webm,audio/mp3,audio/webm,audio/mpeg" type="file" name="collection[attachment]" id="file-1" class="sign__file-upload create_file_upload" required/>
                        <label id="choose_file_selected" for="file-1"><span><%= t('collections.form.choose_file') %></span></label>
                        <div id="imagePreviewRes"></div>
                        <div class="close-preview-button" id="close-preview-button">
                          <span>X</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="coverUpload hide">
                  <label><%= t('collections.form.upload_cover') %><span> *</span></label>
                  <div class="row mb-15">
                    <div class="col-12">
                      <div class="codrops-header">
                        <div class="box">
                          <span class="placeholder" id="placeholder2" style="">JPG, PNG, GIF or WEBP. Max 30mb.</span>
                          <input accept="image/png,image/jpeg,image/gif,image/webp" type="file" name="collection[cover]" id="file-2" class="inputfile inputfile-1"/>
                          <label id="choose_file_selected2" for="file-2"><span><%= t('collections.form.choose_file') %></span></label>
                          <div id="imagePreviewRes2"></div>
                          <div class="close-preview-button" id="close-preview-button2"><span>X</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="col-12">
                   <h4 class="sign__title">Upload Cover *</h4>
                 </div>

                 <div class="col-12">
                   <div class="sign__file">
                     <label  for="file-2">e. g. Image, Audio, Video</label>
                     <input data-name="#file2" id="file-2" name="collection[cover]" class="sign__file-upload" type="file" accept="image/png,image/jpeg,image/gif,image/webp">
                   </div>
                 </div>-->

                <div class="col-12">
                  <div class="row">
                    <div class="col-6">
                      <div class="sign__group">
                        <label class="sign__label" for="royalties"><%= t('collections.form.categories') %></label>
                        <select data-placeholder="Choose tags ..." name="collection[category]" id="collection-category" class="sign__select chosen-select" required>
                          <% Category.pluck(:name).each do |category| %>
                            <option value="<%= category %>"><%= category %></option>
                          <% end %>
                        </select>
                      </div>
                    </div>
                    <div class="col-6 col-6 align-self-center">
                      <div class="sign__group country__group">
                        <label class="sign__label" >Country:</label>
                        <%= country_select 'collection', 'country', {prompt: 'Choose (country)'}, {class: 'sign__select chosen-select'} %>
                      </div>
                    </div>
                  </div>
                </div>


                <!--<div class="col-12">-->
                <!--<div class="sign__group bid__group">-->
                <!--<label class="sign__label" for="itemname">Enter price for one piece</label>-->
                <!--<input type="number" name="collection[instant_sale_price]" class="sign__input" placeholder="0.15">-->
                <!--<span>WMATIC</span>-->
                <!--</div>-->
                <!--<ul class="knowledge__list">-->
                <!--<li><a href="#">Service Fee</a><span> <b><%= service_fee %> WMATIC</b></span></li>-->
                <!--<li><a href="#">You will receive</a><span><b> MATIC ($12.333)</b></span></li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--<div class="col-12 mt-20">-->
                <!--<div class="sign__group">-->
                <!--<h4 class="sign__title">Digital key, code to redeem or link to a file...</h4>-->
                <!--<input type="text" name="key" class="sign__input">-->
                <!--</div>-->
                <!--</div>-->

                <div class="col-12 mt-10">
                  <h4 class="sign__title"><%= t('collections.form.item_details') %></h4>
                </div>

                <div class="col-12">
                  <div class="sign__group">
                    <label class="sign__label" for="itemname"><%= t('collections.form.item_name') %>*</label>
                    <input id="itemname" type="text" name="collection[name]" class="sign__input" placeholder="e. g. 'Crypto Heart'">
                  </div>
                </div>

                <div class="col-12">
                  <div class="sign__group">
                    <label class="sign__label" for="description">Descriptions, many keywords, our search engine will find you.*</label>
                    <div class="text_link_wrapper">
                      <textarea id="description" name="collection[description]" class="sign__textarea" placeholder="e. g. 'Beating heart red, blood, pixelated, USA, gold'"></textarea>
                      <span class='site_link'>Freely Minted @ https://matic.art</span>
                    </div>
                  </div>
                </div>

                <% if @collection_type == "multiple" %>
                  <div class="col-12">
                    <div class="sign__group">
                      <label class="sign__label" for="no_of_copies"><%= t('collections.form.number_of_copies') %>*</label>
                      <input type="number" min="1" id="no_of_copies" name="collection[no_of_copies]" class="sign__input" placeholder="e.g 5"></input>
                    </div>
                  </div>
                <% end %>


                <div class="col-12">
                  <div class="sign__group">
                    <label class="sign__label" for="royalties"><%= t('collections.form.royalties') %></label>
                    <input id="royalties" name="collection[royalty]" class="sign__input validNumber" placeholder="Suggested: 10%, 20%, 30%"></input>
                  </div>
                </div>
                <!--<div class="col-12 col-md-4">-->
                <!--<div class="sign__group">-->
                <!--<label class="sign__label" for="royalties">Royalties</label>-->
                <!--<select id="royalties" name="collection[royalty]" class="sign__select">-->
                <!--<option value="1">5%</option>-->
                <!--<option value="2">10%</option>-->
                <!--<option value="3">20%</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--</div>-->

                <div class="collection-attribute-section">
                  <div class="collection-attribute-entry collection-flex-box">
                    <div class="sign__group">
                      <label class="sign__label" for="size">Properties, traits</label>
                      <input id="size" type="text" name="collection[attributes][0][key]" class="sign__input attr-key" placeholder="e. g. Size">
                    </div>
                    <div class="sign__group">
                      <label class="sign__label" for="propertie">&nbsp;</label>
                      <input id="propertie" type="text" name="collection[attributes][0][value]" class="sign__input attr-val" placeholder="e.g M.">
                    </div>
                  </div>
                </div>


                <div class="col-12">
                  <div class="sign__group sign__group--row">
                    <ul class="switch_group">
                      <li>
                        <label for="put_sale"><%= t('shared.put_on_sale') %></label>
                        <p><%= t('shared.put_on_sale_msg') %></p>
                        <label class="switch_type" id="put_sale">
                          <input type="checkbox" name="collection[put_on_sale]" checked>
                          <span class="slider round"></span>
                        </label>
                      </li>
                      <li>
                        <label for="instant_sale"><%= t('shared.instant_sale_price') %></label>
                        <p><%= t('shared.instant_sale_price_msg') %></p>
                        <label class="switch_type" id="instant_sale">
                          <input type="checkbox" id="collection_instant_sale_enabled" name="collection[instant_sale_enabled]" checked>
                          <span class="slider round"></span>
                        </label>
                      </li>
                      <li id="instPrice">
                        <div class="inp-grp-flex">
                          <div class="sign__group">
                            <input type="text" name="collection[instant_sale_price]" class="sign__input validNumber" id="instant-price" placeholder="Enter price for one piece"/>
                          </div>
                          <div class="sign__group">
                            <%= select_tag "collection[erc20_token_id]", options_for_select(Erc20Token.select_options), class: "sign__select chosen-select", required: true %>
                          </div>
                        </div>
                      </li>
                      <li>
                        <label for="unlock_purchase"><%= t('shared.unlock_one_purchased') %></label>
                        <p><%= t('shared.unlock_one_purchased_msg') %></p>
                        <label class="switch_type" id="unlock_purchase">
                          <input type="checkbox" name="collection-unlock" id="collection-unlock-on-purchase">
                          <span class="slider round"></span>
                        </label>
                      </li>
                      <li class="unlock-description-section hide">
                        <div class="sign__group">
                          <input type="text" id="collection-unlock-description" name="collection[unlock_on_purchase]" class="sign__input" placeholder="Enter unlock description">
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>


                <div class="col-12">

                  <h4 class="sign__title"><%= t('collections.form.choose_collection') %></h4>
                  <div class="sign__group sign__group--row">
                    <ul class="sign__radio">
                      <li>
                        <!--<input id="type4" type="radio" name="type" checked="">-->
                        <%= radio_button_tag 'chooseCollection', "create", nil, class: "chooseCollectionErc", :id => "type4" %>
                        <label for="type4"><%= t('collections.form.collection') %><%#= collection_type @collection_type %></label>
                      </li>
                      <li>
                        <!--<input id="type5" type="radio" name="type">-->
                        <%= radio_button_tag 'chooseCollection', "nft", nil, class: "chooseCollectionNft", :id => "type5", :checked => true %>
                        <label for="type5"><%= t('collections.form.nft') %></label>
                      </li>
                    </ul>
                    <div class="owner_collection active">Solo NFT: Visible on Matic.art and some other sites</div>
                    <div class="owner_collection">Owner Collection NFT: Visible Everywhere</div>
                  </div>
                  <div class="user_consent">
                    <span><%= check_box_tag 'consent', 'check_consent', false, class: 'consent_check', required: true %></span>
                    <span class="sign__title"><%= t('collections.form.user_consent_text') %></span>
                  </div>
                </div>

                <div class="col-12 Own_contract_partials hide">
                  <% current_user.get_contracts(@collection_type).each do |contract|%>
                    <%=render partial: 'own_contract',  locals: {contract: contract, blank:false} %>
                  <%end%>
                  <%=render partial: 'own_contract',  locals: {blank:true, contract: nil} %>
                </div>

                <div class="col-12">
                  <!--<button type="submit" class="sign__btn">Create Contract</button>-->
                  <%= submit_tag 'Create', class: 'sign__btn hide', id: 'submitCollection', 'data-disable-with': "<i class='fa fa-spinner fa-spin'></i> Creating...".html_safe %>
                  <a class="sign__btn create-item collection-submit-btn triggerCollectionValidation" href="#" role="button"><%= t('collections.form.create_contract') %></a>

                  <!--<button type="button" class="sign__btn btn-primary" data-dismiss="modal">Cancel</button>-->
                </div>
              </div>
            <% end %>
            <!-- end create form -->
          </div>
          <div class="col-lg-5 col-md-12">
            <div class="prev_i">
              <h4 class="sign__title"><%= t('collections.form.preview') %></h4>
              <div id="my-preview-section"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<%= hidden_field_tag 'collection_contract_address', nil %>
<%= hidden_field_tag 'collection_contract_type', nil %>
<%= hidden_field_tag 'collection_id', nil %>
<%= hidden_field_tag 'collection_token_uri', nil %>
<%= hidden_field_tag 'collection_supply', nil %>
<%= hidden_field_tag 'collection_royalty_fee', nil %>

<div class="collection-attribute-entry-base  collection-flex-box collection-attribute-entry hide">
  <div class="sign__group">
    <input id="size" type="text" class="sign__input attr-key" placeholder="e. g. Size">
  </div>

  <div class="sign__group">
    <input id="propertie" type="text" class="sign__input attr-val" placeholder="e.g M.">
  </div>
</div>


<div class="zoom-anim-dialog mfp-hide modal sm_modal custom_modal" id="createOwnErc721">
  <button class="modal__close md_cls" type="button"><i class="fas fa-times"></i></button>
  <h4 class="modal-title share_link_page_h4"><%= t('collections.form.contract_detail') %></h4>
  <div class="row">
    <div class="col-12 col-md-12">
      <label class="sign__label" for="propertie">Profile</label>
      <% if browser.device.mobile? || browser.device.tablet? %>
        <div class="profile_upload_and_preview">
          <div class="box">
            <label class="choose_btn">
              <span>Choose file</span>
              <%= file_field_tag "nft_contract[attachment]", accept: 'image/png,image/gif,image/jpeg', class: 'sign__file-upload create_file_upload sign__input inputfile inputfile-1', required: true %>
            </label>
            <div id="imagePreview-contract" class="preview-attachment"></div>
            <div class="close-preview-button" id="close-preview-button-contract"><span>X</span></div>
          </div>
        </div>
      <% else %>
        <div class="profile_upload_and_preview">
          <div class="box">
            <label class="choose_btn">
              <span>Choose file</span>
              <%= file_field_tag "nft_contract[attachment]", accept: 'image/png,image/gif,image/jpeg', class: 'sign__file-upload create_file_upload sign__input inputfile inputfile-1', required: true %>
            </label>
            <%=hidden_field_tag 'attachemnt_data' %>
            <!-- <div id="imagePreview-contract" class="preview-attachment"></div> -->
            <%= image_tag '', id: "imagePreview-contract", class: "preview-attachment" %>
            <div class="croppie_box_wrapper" id="profile_croppie_wrapper">
              <div class="croppie_preview" id="croppie_profile_preview"></div>

              <div class="croppie_btn_box">
                <%= link_to 'Apply', 'javascript:;', class: 'crop_preview_btn', id: 'cropImageBtn' %>
                <%= link_to 'Cancel', 'javascript:;', class: 'crop_cancel_btn', id: 'cropCancelBtn' %>
              </div>
            </div>
            <div class="close-preview-button" id="close-preview-button-contract"><span>X</span></div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-md-12">
      <label class="sign__label" for="propertie">cover</label>
      <% if browser.device.mobile? || browser.device.tablet? %>
        <div class="cover_upload_and_preview">
          <div class="box">
            <label class="choose_btn_cover">
              <span>Choose file</span>
              <%= file_field_tag "nft_contract[cover]", accept: 'image/png,image/gif,image/jpeg', class: 'sign__file-upload create_file_upload sign__input inputfile inputfile-1', required: true %>
            </label>
            <div id="imageCover-contract" class="preview-imageCover"></div>
            <div class="close-preview-button" id="close-cover-button-contract"><span>X</span></div>
          </div>
        </div>
      <% else %>
        <div class="cover_upload_and_preview">
          <div class="box">
            <label class="choose_btn_cover">
              <span>Choose file</span>
              <%= file_field_tag "nft_contract[cover]", accept: 'image/png,image/gif,image/jpeg', class: 'sign__file-upload create_file_upload sign__input inputfile inputfile-1', required: true %>
            </label>
            <%=hidden_field_tag 'attachemnt_data' %>
            <!-- <div id="imageCover-contract" class="preview-imageCover"></div> -->
            <%= image_tag '', id: "coverPreview-contract", class: "preview-attachment" %>
            <div class="croppie_box_wrapper" id="cover_croppie_wrapper">
              <div class="croppie_preview" id="croppie_cover_preview"></div>

              <div class="croppie_btn_box">
                <%= link_to 'Apply', 'javascript:;', class: 'crop_preview_btn', id: 'cropCoverBtn' %>
                <%= link_to 'Cancel', 'javascript:;', class: 'crop_cancel_btn', id: 'coverCancelBtn' %>
              </div>
            </div>
            <div class="close-preview-button" id="close-cover-button-contract"><span>X</span></div>
          </div>
        </div>
      <% end %>
    
    </div>
    <div class="col-12 col-md-12">
      <div class="sign__group">
        <%= hidden_field_tag 'nft_contract[owner_id]', current_user.address, class: 'nft-detail-name', disabled: true %>
        <%= hidden_field_tag("nft_contract[address]") %>
        <%= hidden_field_tag("nft_contract[txn_hash]") %>
        <label class="sign__label" for="propertie"><%= t('collections.form.name') %></label>
        <%= text_field_tag "nft_contract[name]", nil, class: 'sign__input', placeholder: 'Name of the Contract', required: true %>
      </div>
    </div>
    <div class="col-12 col-md-12">
      <div class="sign__group">
        <label class="sign__label" for="propertie"><%= t('collections.form.symbol') %></label>
        <%= text_field_tag "nft_contract[symbol]", nil, class: 'sign__input', placeholder: 'Symbol of the Contract', required: true %>
      </div>
    </div>
    <div class="col-12 col-md-12">
      <div class="sign__group">
        <label class="sign__label" for="propertie">Description</label>
        <%= text_area_tag "nft_contract[desc]", nil, class: 'sign__input description_input', placeholder: 'Description of the Contract', required: true, rows: 2, maxlength: 255 %>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="sign__btn btn btn-primary modal__close md_cls" data-dismiss="modal"><%= t('shared.cancel') %></button>
      </div>
      <div class="col-md-6">
        <button type="submit" class="sign__btn btn btn-primary createOwnErc721Form"><%= t('collections.form.create_contract') %></button>
      </div>
    </div>
  </div>
</div>

<div class="zoom-anim-dialog mfp-hide modal sm_modal" id="deployContract">
  <button class="modal__close md_cls" type="button"><i class="fas fa-times"></i></button>
  <h4 class="modal-title share_link_page_h4"><%= t('collections.form.follow_steps') %></h4>
  <div class="modal-body">
    <div class="row deployContract">
      <%= render partial: 'deploy_contract' %>
    </div>

    <div class="row signMsg hide">
      <%= render partial: 'sign_deploy_contract' %>
    </div>
  </div>
</div>

<div class="zoom-anim-dialog mfp-hide modal sm_modal" id="collectionStepModal">
  <button class="modal__close md_cls" type="button"><i class="fas fa-times"></i></button>
  <h4 class="modal-title share_link_page_h4"><%= t('collections.form.follow_steps') %></h4>
  <div class="modal-body">
    <div class="row approveFlow">
      <%= render partial: 'approve' %>
    </div>

    <div class="row mintFlow">
      <%= render partial: 'mint' %>
    </div>

    <div class="row signFixedPrice hide">
      <%= render partial: 'sign_fixed_price' %>
    </div>

    <div class="row signLockedContent hide">
      <%= render partial: 'sign_locked_content' %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('input[name=chooseCollection]').change(function(){
    if ($(this).val() == "create") {
      $(this).parent().parent().next().next().addClass('active');
      $(this).parent().parent().next().removeClass('active');
    }
    else {
      $(this).parent().parent().next().next().removeClass('active');
      $(this).parent().parent().next().addClass('active');
    }
  })
</script>


