<main class="main mt-0">
  <% if @user.banner.present? %>
    <div class="main__author" style="background: url(<%= url_for(@user.banner) %>) center center / cover no-repeat;;"></div>
  <% else %>
   <div class="main__author" data-bg="/assets/dummy-image.jpg" style="background: url(&quot;/assets/dummy-image.jpg&quot;) center center / cover no-repeat;"></div>
  <% end %>

<div class="container">
<div class="row row--grid">
<div class="col-12 col-xl-3">
  <div class="author author--page">
    <div class="author__meta">
      <%= link_to_image(@user) %>
      <div class="main_inline_content flex">
        <%= link_to_name(@user) %>
        <% if @user.is_verified.present? %>
          <div class="sdk_tool" data-toggle="tooltip" data-placement="top" data-tooltip="CC : Certified Creator 
This Creator has sent Matic.art hers/his Identity Documents. 
To Become a CC: nft@matic.art" class="verified_badge_col"><%= image_tag 'verified_badge.png', class: 'image_resolution' %></div>
        <% end %>
      </div>
      <%= link_to_twitter(@user) %>
      <%= link_to_bio(@user) %>
      <%= link_to_personal_url(@user) %>
      <%= link_to 'javascript:;', class: 'author__link address_check_copy' do %>
        <%= @user_address_url %>
        <button class='copy_nft_address' value="<%= @user_address_url %>" data-toggle='tooltip' data-placement='right' title='Copy'><i class='fa fa-copy'></i></button>
      <% end %>
      <%= link_to link_to_user(@user), link_to_user(@user), class: 'author__link' %>
      <div class="author__wrap">
        <div class="author__followers">
          <p><%=@user.followers.count%></p>
          <span><%= t('users.show.followers') %></span>
        </div>
        <% if current_user.present? && current_user != @user && !current_user.followees.include?(@user) %>
          <%= link_to follow_users_path(id: @user.address), class: "author__follow" do %>
            <i class="fa fa-user-plus color-white"></i>
            <span class="color-white" style="margin-left: 2px;"><%= t('users.show.follow') %></span>
          <% end %>
        <% end %>

        <% if current_user.present? && current_user != @user && current_user.followees.include?(@user) %>
          <%= link_to unfollow_users_path(id: @user.address), class: "author__follow" do %>
            <i class="fa fa-user-plus color-white"></i>
            <span class="color-white" style="margin-left: 2px;"><%= t('users.show.unfollow') %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="col-12 col-xl-9">
<div class="profile">
  <!-- tabs nav -->

  <ul class="nav nav-tabs profile__tabs" id="profile__tabs" role="tablist">
  <li class="nav-item">
      <a class="nav-link <%= 'active' if @tab.nil? %>"  href="<%= link_to_user(@user) %>"><%= t('users.show.on_sale') %>
        <% if @on_sale_count > 0 %>
          <span class="notify"><%= @on_sale_count %></span>
        <% end %>
      </a>
    </li>
     <li class="nav-item">
      <a class="nav-link <%= 'active' if @tab == 'created' %>" href="<%= user_path(id: @user.address, tab: "created", page_no: @page_no) %>" ><%= t('users.show.created') %>
        <% if @created_count > 0 %>
          <span class="notify"><%= @created_count %></span>
        <% end %>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if @tab == 'collectibles' %>" href="<%= user_path(id: @user.address, tab: "collectibles", page_no: @page_no) %>" ><%= t('users.show.collectibles') %>
        <% if @collectibles_count > 0 %>
          <span class="notify"><%= @collectibles_count %></span>
        <% end %>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if @tab == 'my_collections' %>" href="<%= user_path(id: @user.address, tab: "my_collections", page_no: @page_no) %>" >
        <%= @is_owner ? 'My Collections' : 'Collections' %>
        <% if @my_collections_count > 0 %>
          <span class="notify"><%= @my_collections_count %></span>
        <% end %>
      </a>
    </li>
    <% if @is_owner %>
      <li class="nav-item">
        <a class="nav-link <%= 'active' if @tab == 'liked' %>"  href="<%= user_path(id: @user.address, tab: "liked") %>"><%= t('users.show.liked') %>
          <% if @liked.count > 0 %>
            <span class="notify"><%= @liked.count %></span>
          <% end %>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link <%#= 'active' if @tab == 'activity' %>"  href="<%#= user_path(id: @user.address, tab: "activity") %>"><%#= t('users.show.activity') %></a>
      </li> -->
      <li class="nav-item">
      <%= link_to user_path(id: @user.address, tab: "following"), :class=>"nav-link #{'active' if @tab == 'following'}" do %>
        Following
        <% if @followees_count > 0 %>
          <span class="notify"><%= @followees_count %></span>
        <% end %>
      <% end %>
      </li>
      <li class="nav-item">
        <%= link_to user_path(id: @user.address, tab: "followers"), class: "testValFollower nav-link #{'active' if @tab == 'followers'}" do %>
          Followers
          <% if @followers_count > 0 %>
            <span class="notify"><%= @followers_count %></span>
          <% end %>
        <% end %>
      </li>
    <%end%>
  </ul>
  <!-- end tabs nav -->
</div>

<% if @tab == "following" %>
  <div id="following" class="tab-pane fade <%= 'show active' if @tab == 'following' %>">
    <% if @data.present? %>
      <%= render "follow", follows: @data, id: "following" %>
    <% else %>
      <%= render partial: 'common/empty' %>
    <% end %>
  </div>
<% end %>

<% if @tab == "followers" %>
  <div id="followers" class="tab-pane fade <%= 'show active' if @tab == 'followers' %>">
    <% if @data.present? %>
      <%= render "follow", follows: @data, id: "followers", followees: @data %>
    <% else %>
      <%= render partial: 'common/empty' %>
    <% end %>
  </div>
<% end %>

<!-- content tabs -->
<div class="tab-content user-collection-section">
  <div class="tab-pane fade <%= 'active show' if !['liked', 'activity','following','followers'].include?(@tab) %>" id="tab-1" role="tabpanel">
    <div class="load_more_data row row--grid">
      <%= render "users_loaded" %>
    </div>
    <% if @data.present? && @data.next_page.present? %>
      <div class="row load_more_section">
        <div class="col-12">
          <div class="load_more text-center p-20">
            <%=link_to t('dashboard.load_more'), user_path(id: @user.address, tab: @tab, page_no: @data.next_page), id: 'load_more_link', remote: true, class: 'home__btn home__btn--clr load_more_btn' %>
          </div>
        </div>
      </div>
    <% end %>
    <!-- end collapse -->
  </div>

  <!-- Like Section -->
  <div class="tab-pane fade <%= 'active show' if @tab == 'liked' %>" id="tab-2" role="tabpanel">
    <div class="row row--grid">
      <% if !['activity','following','followers'].include?(@tab) and @liked.present? %>
        <% @liked.each do |like| %>
          <div class="col-12 col-md-6 col-lg-4 ">
            <%= render "/dashboard/collection_card", collection: like.collection, sold_text: false, already_sold: false, trade_text: false %>
          </div>
        <% end %>
      <% else %>
        <% 3.times do %>
          <div class="col-12 col-md-6 col-lg-4">
            <%= render partial: 'common/empty_card_collection' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- Like Section End -->

  <div class="tab-pane fade <%= 'active show' if @tab == 'activity' %>" id="tab-3" role="tabpanel">
    <div class="row">
      <!-- sidebar -->
      <div class="col-12 col-xl-4 order-xl-2">
        <div class="filter-wrap">
          <button class="filter-wrap__btn" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter"><%= t('users.show.open_filter') %></button>
          <div class="collapse filter-wrap__content" id="collapseFilter">
            <!-- filter -->
            <div class="filter filter--sticky">
              <h4 class="filter__title"><%= t('users.show.filters') %><a href="<%=my_items_path(:tab=>"activity")%>" style="font-size: 12px;"><%= t('users.show.clear_all') %></a></h4>

              <div class="filter__group">
                <ul class="filter__checkboxes">
                  <% options = { user_id: @user.address, tab: "activity" } %>
                  <li>
                    <input id="type5" type="checkbox" name="type5" <%= (is_filter_active(params[:filters], 'minted') == 'active') ? "checked='true'" : '' %> onclick="window.location.href ='<%= build_filter_path("my_activity", params[:filters], "minted", options) %>'">
                    <label for="type5"><%= t('users.show.mynfts') %></label>
                  </li>
                  <li>
                    <input id="type9" type="checkbox" name="type9"  <%= (is_filter_active(params[:filters], 'bid') == 'active') ? "checked='true'" : '' %> onclick="window.location.href ='<%= build_filter_path("my_activity", params[:filters], "bid", options) %>'">
                    <label for="type9"><%= t('users.show.bids') %></label>
                  </li>
                  <li>
                    <input id="type10" type="checkbox" name="type10"  <%= (is_filter_active(params[:filters], 'like') == 'active') ? "checked='true'" : '' %> onclick="window.location.href ='<%= build_filter_path("my_activity", params[:filters], "like", options) %>'">
                    <label for="type10"><%= t('users.show.likes') %></label>
                  </li>
                  <li>
                    <input id="type11" type="checkbox" name="type11"  <%= (is_filter_active(params[:filters], 'following') == 'active') ? "checked='true'" : '' %> onclick="window.location.href ='<%= build_filter_path("my_activity", params[:filters], "following", options) %>'">
                    <label for="type11"><%= t('users.show.followings') %></label>
                  </li>
                </ul>
              </div>
            </div>
            <!-- end filter -->
          </div>
        </div>
      </div>
      <!-- end sidebar -->

      <!-- content -->
      <div class="col-12 col-xl-8 order-xl-1">
        <div class="row row--grid">
          <% if @tab == "activity" and @data.present? %>
            <div class="col-12 col-lg-6 col-xl-12">
              <% @data and @data.each do |activity| %>
                <% next if activity.item.blank? %>
                <%if ["Follow", "Like", "Collection", "Bid"].include?(activity.item_type)%>
                  <%= render "activities/#{activity.item_type.downcase}", activity: activity if ["Follow", "Like", "Collection", "Bid"].include?(activity.item_type) %>
                <%end%>
              <% end %>
            </div>
          <% else %>
            <% 2.times do %>
              <div class="col-12 col-md-6 col-lg-4 col-xl-6">
                <%= render partial: 'common/empty_card_collection' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <!-- end content -->
    </div>
  </div>
  
  <div class="tab-pane fade" id="tab-4" role="tabpanel">
    <div class="row row--grid">
      <!-- details form -->
      <div class="col-12 col-lg-6">
        <form action="#" class="sign__form sign__form--profile">
          <div class="row">
            <div class="col-12">
              <h4 class="sign__title"><%= t('users.show.profile_details') %></h4>
            </div>

            <div class="col-12 col-md-6 col-lg-12 col-xl-6">
              <div class="sign__group">
                <label class="sign__label" for="username"><%= t('users.show.login') %></label>
                <input id="username" type="text" name="username" class="sign__input" placeholder="User123">
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-12 col-xl-6">
              <div class="sign__group">
                <label class="sign__label" for="email"><%= t('users.show.email') %></label>
                <input id="email" type="text" name="email" class="sign__input" placeholder="email@email.com">
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-12 col-xl-6">
              <div class="sign__group">
                <label class="sign__label" for="firstname"><%= t('users.show.first_name') %></label>
                <input id="firstname" type="text" name="firstname" class="sign__input" placeholder="John">
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-12 col-xl-6">
              <div class="sign__group">
                <label class="sign__label" for="lastname"><%= t('users.show.last_name') %></label>
                <input id="lastname" type="text" name="lastname" class="sign__input" placeholder="Doe">
              </div>
            </div>

            <div class="col-12">
              <button class="sign__btn" type="button"><%= t('shared.save') %></button>
            </div>
          </div>
        </form>
      </div>
      <!-- end details form -->

      <!-- password form -->
      <div class="col-12 col-lg-6">
        <form action="#" class="sign__form sign__form--profile">
          <div class="row">
            <div class="col-12">
              <h4 class="sign__title"><%= t('users.show.change_password') %></h4>
            </div>

            <div class="col-12 col-md-6 col-lg-12 col-xl-6">
              <div class="sign__group">
                <label class="sign__label" for="oldpass"><%= t('users.show.old_password') %></label>
                <input id="oldpass" type="password" name="oldpass" class="sign__input">
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-12 col-xl-6">
              <div class="sign__group">
                <label class="sign__label" for="newpass"><%= t('users.show.new_password') %></label>
                <input id="newpass" type="password" name="newpass" class="sign__input">
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-12 col-xl-6">
              <div class="sign__group">
                <label class="sign__label" for="confirmpass"><%= t('users.show.confirm_new_password') %></label>
                <input id="confirmpass" type="password" name="confirmpass" class="sign__input">
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-12 col-xl-6">
              <div class="sign__group">
                <label class="sign__label" for="select">Select</label>
                <select name="select" id="select" class="sign__select">
                  <option value="0">Option</option>
                  <option value="1">Option 2</option>
                  <option value="2">Option 3</option>
                  <option value="3">Option 4</option>
                </select>
              </div>
            </div>

            <div class="col-12">
              <button class="sign__btn" type="button"><%= t('shared.change') %></button>
            </div>
          </div>
        </form>
      </div>
      <!-- end password form -->
    </div>
  </div>
</div>
<!-- end content tabs -->
</div>
</div>
</div>
</main>
<script type="text/javascript">
  $(".copy_nft_address").on("click", function(e) {
    navigator.clipboard.writeText(this.value);
  })
</script>