<div class="card-body">
  <h4 class="card-title"><%= title %></h4>
  <div class="form-group row">
    <label for="example-text-input" class="col-md-2 col-form-label"><%= t("admin.fees.form.fee_type") %></label>
    <div class="col-md-10">
    <%= select_tag "fee[fee_type]", options_for_select(Fee.fee_types.keys.collect{|x| [x]},@fee.fee_type), {prompt: "--Select--",class: 'form-control input-custom', id: 'fee_type', required: true} %>
    </div>
  </div>

   <!--<div class="form-group row">-->
    <!--<label for="example-text-input" class="col-md-2 col-form-label"><%= t("admin.fees.form.price") %></label>-->
    <!--<div class="col-md-10">-->
      <!--<%= text_field_tag 'fee[price]', @fee.price, class: 'form-control input-custom', placeholder: t('admin.fees.form.price'), required: true %>-->
    <!--</div>-->
  <!--</div>-->

   <div class="form-group row">
    <label for="example-text-input" class="col-md-2 col-form-label"><%= t("admin.fees.form.per_mile") %></label>
    
    <div class="col-md-10">
      <%= text_field_tag 'fee[per_mile]', @fee.per_mile, class: 'form-control input-custom', placeholder: t('admin.fees.form.per_mile'), required: true %>
    </div>
  </div>

  


  <div class="form-group row">
    <label for="example-number-input" class="col-md-2 col-form-label"></label>
    <div class="col-md-10">
      <button type="button" id="fee_submit" class="btn btn-primary mr-1 w-md"><%= t("shared.submit") %></button>
      <%= link_to t("shared.cancel"), admin_fees_path, class: "btn btn-secondary w-md add_btn" %>
    </div>
  </div>
</div>