<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="header__content">
          <%= render "common/nav_header" %>
          <%= render "common/search" %>
          <%#= render "common/static_nav" %>
          <div class="header__menu one-part-explore">
            <ul class="header__nav">
              <li class="header__nav-item">
                <a class="header__nav-link" href="<%= search_path%>"><%=t('header.explore')%></a>
              </li>
              <li class="header__nav-item">
                <a class="header__nav-link" href="/owncollections"><%=t('header.collection')%></a>
              </li>
            </ul>
          </div>
          <div class="header__actions">
            <div class="header__action header__action--search">
              <button class="header__action-btn" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z"/>
                </svg>
              </button>
            </div>

            <div class="header__action header__action--signin d-nones d-sm-block">
              <a class="open-modal header__action-btn header__action-btn--signin" href="#connect_to_wallet">
                <span><%= t('header.title') %></span>
              </a>
              <%#= render partial: 'common/language_select' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<%= render partial: 'common/wallet_connect' %>
<%= render partial: 'common/terms' %>
