<%if false%>
<ul class="nav navbar-nav">
  <li class="active"><a href="<%= root_path %>">Explore</a></li>
  <li><a href="javascript:void(0);">How its works</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Community <span class="caret"></span></a>
    <ul class="dropdown-menu community-ddm">
      <!-- <li><a href="javascript:void(0);">NFT Token</a></li> -->
      <li><a href="<%= Rails.application.credentials.config[:discussion_url] %>" target="_blank">Discussion</a></li>
<!--      <li><a href="javascript:void(0);">Voting</a></li>-->
      <li><a href="javascript:void(0);">Suggest feature</a></li>
      <li><a href="javascript:void(0);">Subscribe</a></li>
      <li class="divider"></li>
      <li class="communit-ddm-social-media">
        <a href="javascript:void(0);">
          <i class="fa fa-telegram"></i>
        </a>
        <a href="javascript:void(0);">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="javascript:void(0);">
          <i class="fa fa-youtube"></i>
        </a>
      </li>
    </ul>
  </li>
  <button type="button" class="navbar-toggle navbar-break-btn" data-toggle="collapse" data-target="#myNavbarCustom">
    <button class="hamburger">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <button class="cross">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>                    
  </button>
</ul>
<%end%>
<div class="header__menu">
  <ul class="header__nav">
    <li class="header__nav-item">
      <a class="header__nav-link" href="<%=search_path%>"><%=t('header.explore')%></a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="/owncollections"><%=t('header.collection')%></a>
    </li>
    <li class="header__nav-item">
       <%if current_user.is_approved%>
         <a href="<%=new_collection_path%>" class="header__nav-link"><%=t('header.create')%></a>
       <%end%>
    </li>
    <li class="header__nav-item">
      <a href="<%= activities_path(activity_type: "blank") %>" class="header__nav-link"><%=t('header.my_nfts')%></a>
    </li>
    <li class="header__nav-item">
      <%= mail_to 'nft@matic.art', t('header.contact'), class: 'header__nav-link' %>
      <!-- <a href="/faq" class="header__nav-link"><%#= %></a> -->
    </li>
  
    <!--<li class="header__nav-item">
      <a href="#" class="header__nav-link">Community</a>
    </li>-->
  </ul>
</div>
