<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91379613-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-91379613-1');
    </script>
    <% end %>
    <title><%= Rails.application.credentials.config[:app_name] %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
   
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <%= Gon::Base.render_data %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" integrity="sha512-ZKX+BvQihRJPA8CROKBhDNvoc2aDMOdAlcm7TUQY+35XYtrd3yh95QOOhsPDQY9QnKE0Wqag9y38OIgEvb88cA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

    </head>

 <body>
   <%#= render "common/header_top" %>
    <% if current_user %>
      <%= render "common/my_header" %>
    <% else %>
      <%= render "common/header" %>
    <% end %>
    <!-- home -->
    <!-- end home -->
  <%= yield%>
    
    <%#= yield %>
    <%= render "common/footer" %>
    <%= render 'common/loader' %>
    <%= render 'common/wrong_network' %>
    <%= render 'common/livechatinc' %>
    <%= toastr_flash %>
  </body>
</html>
